@model ReporteTransaccionesDetallas

@{
    ViewData["Title"] = "Listado de Transacciones";
}

<h1>Listado de Transacciones</h1>

<a asp-action="Crear" class="btn btn-primary">Crear Nuevo</a>

<table class="table">
    <thead>
        <tr>

        </tr>
    </thead>
    <tbody>
      
    </tbody>
</table>